.dealers-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.players-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.hide {
  display: none;
}

.play-again {
  margin: 30px 0px 0px 5px;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.semi-header {
  text-align: center;
}
